footer {
  margin-top: auto;
  padding-top: 100px;
}

@media (max-width: 1360px) {
  footer {
    padding-top: 110px;
  }
}

@media (max-width: 825px) {
  footer {
    padding-top: 0px;
  }
}

@media (max-width: 600px) {
  footer {
    padding-top: 100px;
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #4bb1da; }