body {
  font-family: Epilogue, Arial, Helvetica, sans-serif;
  color: var(--gray500);
  font-weight: 500;
  margin: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-pos {
  display: flex;
  gap: 40px;
  align-items: center;
}