.header {
  max-width: 1440px;
  padding: 30px 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
}

.header > img {
  padding-right: 20px;
}

.main-menu {
  margin-right: auto;
  justify-content: space-between;
  width: 100%;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 4.5rem;
  background: #fff;
  border: 1px solid transparent;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px #0000001a;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.nav-menu.active {
  display: flex;
  animation: slideDown 0.4s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0.3;
    max-height: 0;
    transform: translate3d(0, -5px, 0);
  }
  to {
    opacity: 1;
    max-height: 250px;
    transform: translate3d(0, 0px, 0);
  }
}

.hover-menu:hover {
  color: var(--gray000);
  border-color: var(--gray000);
  transition: 0.3s;
}

.drop-menu.active {
  color: var(--gray000);
}

.drop-menu {
  position: relative;
  padding-right: 15px;
}

.drop-menu::after {
  content:url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23686868' stroke-width='1.5' fill='none' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  position: absolute;
  top: -10%;
  right: -3%;
  transform: rotate(-360deg);
  transition: 0.3s;
}

.drop-menu:hover::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23111111' stroke-width='1.5' fill='none' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
}

.drop-menu.active::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23111111' stroke-width='1.5' fill='none' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  position: absolute;
  top: 0%;
  right: -3%;
  transform: rotate(-180deg);
}

.nav-menu a {
  gap: 16px;
}

.register-button {
  border: 2px solid var(--gray500);
  padding: 12px 20px;
  border-radius: 15px;
}

.mob-menu {
  display: none;
}

.mob-menu.active {
  content: url("../images/icon-close-menu.svg");
}

@media (max-width: 1160px) {
  .header {
    padding: 30px 40px 20px 40px;
  }
}

@media (max-width: 825px) {
  .header {
    padding: 25px 15px;
  }

  .main-menu {
    display: none;
  }

  .main-menu.responsive {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    width: 45vw;
    height: 100vh;
    z-index: 1;
  }

  .primary-nav {
    padding-top: 85px;
    align-self: flex-start;

    margin: 25px;
  }

  .secondary-nav {
    align-items: center;
  }

  .prim-sub-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .secd-sub-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .register-button {
    padding: 12px 65px;
  }

  .nav-menu.active {
    display: block;
    position: initial;
    border: none;
    box-shadow: none;
    display: flex;
    gap: 20px;
  }

  .mob-menu {
    display: block;
    z-index: 1;
  }
}

@media (max-width: 600px) {
  .main-menu.responsive {
    width: 65vw;
  }
}